<div class="title">
    <h1>Ver mascota</h1>
</div>
<div class="container">


    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p><strong>Raza:</strong> Labrador</p>
            <p><strong>Color:</strong> Azul</p>
            <p><strong>Peso:</strong> 90Kg</p>
            <p><strong>Edad:</strong> 4 años</p>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/listaMascotas" mat-raised-button>Volver</button>
        </mat-card-actions>
      </mat-card>
      
</div>
